<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} - Lengow</title>
        <link rel="stylesheet" type="text/css" href="{{ asset("/css/bootstrap.min.css") }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Lengow Orders</h1>
                <p class="lead"><a class="btn btn-default" href="{{ url("test_create_order") }}">Enregistrer une nouvelle commande</a></p>
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
