{% extends "base.html.twig" %}

{% block title %}Orders list{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/css/grid.css") }}">
{% endblock %}

{% block body %}
    {{ grid(grid) }}
{% endblock %}

